**/**/__pycache__
**/**/*.pyc
**/**/*.pyo
**/**/*.pyd
**/**/*.pyw
**/**/*.pyz
**/**/*.pywz

**/**/.DS_Store
**/**/.idea
**/**/.vscode
**/**/.pytest_cache
**/**/.venv
**/**/.env

**/**/results
**/**/logs
**/**/checkpoints
**/**/cache
**/**/data
**/**/output
